/* Font and General Elements */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1;
  background: #000;
}

h1 {
  font-size: 75px;
  color: #fff;
  padding: 80px 200px 25px 200px;
}

h2 {
  font-size: 45px;
  color: #fff;
  padding: 0px 200px 0px 200px;
}

/* NAVIGATION */

header nav#nav-bar {
  width: 100%;
  height: 6.3vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;  
  position: fixed;
  top: 0;
  left: -18;
  z-index: 100;
}

header nav a {
  font-size: 2vh;
  text-decoration: none;
  color: #1DB954;
  margin-left: 10px;
  margin-right: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 3.1vh;
}

header nav a #nav-logo {
  height: 4.5vh;
  margin: 1vh 1vh 0vh 0vh;
}

/* MAIN IMAGE CARD */

.main-image {
  max-width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  border: solid 0.2px #1DB954;
  height: 300px;
  display: flex;
  margin-top: 5%;
}

/* ARTIST CARDS */
.artist-card {
  width: 75%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: rgba(0, 0, 0, 0.526);
  box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
  padding: 10px;
  border-radius: 25px;
  border: solid 0.2px #1DB954;
  height: 280px;
  display: flex;
  margin-top: 10px;
  color: white;
}

.artist-card:first-child {
  margin-top: 75px;
  }
  
.artist-card:last-child {
margin-bottom: 75px;
}

.artist-card > img {
display: block;
margin: 0px 25px;
}

.artist-card:hover {
box-shadow: 0 5px 30px 0 #1DB954;
}

.card-container-artist {
margin-top: 15px;
padding: 0px 40px;
width: 15vw;
display: flex;
justify-content: center;
}

.card-container {
  padding: 15px 50px;
  width: 30vw;
}

.card-container > h3 {
font-size: 30px;
}

.card-container > p {
margin-top: 25px;
font-size: 16px;
}

.track-card {
  position: relative;
  max-width: 1260px;
  padding: 15px 200px 0px 200px;
  display: flex;
  color: #fff;
}

.card-container-track {
  margin-top: 20px;
  width: 15vw;
  display: flex;
  justify-content: left;
}

audio {
  width: 360px;
  height: 30px;
}

/* SEE MORE BUTTONS */
#button-see-more {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#button-see-more > a {
  background: #1DB954;
  color: #fff;
  padding: 15px 0px;
  margin-top: 40px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  width: 150px;
  justify-content: center;
  align-self: flex-end;
}

#button-see-more > a:hover {
  background: #1db954b9;
}

/* ALBUMS PICTURE BUTTON */
#button-albums-picture {
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    height: 300px;
}


#button-albums-picture > a {
  background: #1DB954;
  color: #fff;
  padding: 15px 0px;
  margin-top: 40px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  width: 150px;
  justify-content: center;
  align-self: flex-end;
}

#button-albums-picture > a:hover {
background: #1db954b9;
}

/* FORMS */
/* #index-main {
  display: flex;
  text-align: center;
} */

.search-form {
  margin: 30px 200px 0px 200px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.search-form h2 {
  color: #1DB954;
  font-size: 30px;
  padding: 0px 0px 10px;
}

input[type="text"], input[type="number"], textarea {
	width: 100%;
	box-sizing: border-box;
	margin: 15px 0px;
	padding: 12px 20px;

}

button {
  margin: 0px 0px;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  background-color: #1DB954;
  color: #f5f5f5;
  border: none;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: #1db954b9;
}


/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;  
  background: #1DB954;
  text-align: center;
  padding: 20px 15px;
}

footer > a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
}